<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">

</head>
<body>
  <header class="container max-w-4xl m-auto">
  <h1 class="text-cyan-500 text-center">
    TRAKAJOB
  </h1>
  <form id="job-form">
    <input id="company" type="text" placeholder="company" name="company" required />
    <input id="job-post" type="text" placeholder="job posting" name="job post" />
    <input id="date" type="date" placeholder="date applied" name="date applied" required />
    <input id="role" type="text" placeholder="role" name="role" required />
    <select id="status" class="status-select bg-blue-500 text-white px-2 py-1 rounded">
      <option value="">Select Status</option>
      <option value="Applied">Applied</option>
      <option value="Rejected">Not Hired</option>
      <option value="Interview">Interview Set</option>
      <option value="Interview-had">Interviewed</option>
      <!-- Add more statuses as needed -->
    </select>
    <button type="submit" class=" bg-blue-500 text-white px-1 py-1 rounded">Submit</button>
  </form>
  </header>

<section class="job-posts max-w-5xl m-auto">
<ul class="jobs">
  <!-- Loop through quotes -->
  <% for(let i = 0; i < jobsCollection.length; i++) {%>
  <li class="job" data-job-id="<%= jobsCollection[i]._id %>">
    <!-- Output name from the iterated quote object -->
    <span><%= jobsCollection[i].name %></span>:
    <!-- Output quote from the iterated quote object -->
    <span><%= jobsCollection[i].date %></span>
    <span><%= jobsCollection[i].role %></span>
    <span><%= jobsCollection[i]["job post"] %></span>
    <select class="status-select bg-blue-500 text-white px-3 py-1 rounded">
      <option value="">Select Status</option>
      <option value="Applied" <%= jobsCollection[i].status === 'Applied' ? 'selected' : '' %>>Applied</option>
      <option value="Rejected" <%= jobsCollection[i].status === 'Rejected' ? 'selected' : '' %>>Not Hired</option>
      <option value="Interview" <%= jobsCollection[i].status === 'Interview' ? 'selected' : '' %>>Interview Set</option>
      <option value="Interviewed" <%= jobsCollection[i].status === 'Interviewed' ? 'selected' : '' %>>Interviewed</option>
      <!-- Add more statuses as needed -->
    </select>
    

    <button class="delete-btn bg-blue-500 text-white px-3 py-1 rounded">delete</button>
  </li>
  <% } %>
</ul>
</section>
  <script src="/main.js"></script>
</body>
</html